<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="{%  static  'css/style2.css'  %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="up_st_fee_faculty">
    <h3 align="center">STUDENT FEEDBACK ON TEACHERS</h3><br><br><br><br>

    <label  style="float:center;" for="department" id="dropbox" >Choose Programme:</label>
    <select style="float:center;" name="department" id="department">
    <option value="BCA">BCA</option>
    <option value="BBA">BBA</option>
    <option value="MSW">MSW</option>
    <option value="B.A Animation and Graphic Design">B. A Animation and Graphic Design</option>
      <option value="Bachelor of Fashion Technology">Bachelor of Fashion Technology</option>
      <option value="B.A Animation and Visual Effects">B. A Animation and Visual Effects</option>
      <option value="B.A Visual Arts (Interior Design)">B. A Visual Arts (Interior Design)</option>
      <option value="B.A Multimedia">B. A Multimedia</option>
      <option value="M.A Graphic Design">M. A Graphic Design</option>
      <option value="B.Com (Computer Applications)">B. Com (Computer Applications)</option>
      <option value="B.Com (Finance and Taxation)">B. Com (Finance and Taxation)</option>
      <option value="M.Com (Finance and Taxation)">M. Com (Finance and Taxation)</option>
      <option value="B.Com (Marketing)">B. Com (Marketing)</option>
  </select><br><br>
    <input type="number" name="sem" placeholder="Enter the semester of course(numeric)"><br><br>
    <input type="text" name="teacher" placeholder="Enter Teacher Name"><br>
    <h2>Please rate the teacher on the following attributes using the 4 -point scale shown.</h2>

    <img id="img" width="800" src="{% static 'img/rank.png'%}"><br><br><br>
    <h3>>The knowledge base of the teacher (as perceived by you)</h3><br>

    <input type="radio" style="" checked="checked" name="knowledge" value="Verygood">Verygood
    <input type="radio" name="knowledge" value="Good">Good
    <input type="radio" name="knowledge" value="Satisfactory">Satisfactory
    <input type="radio" name="knowledge" value="Unsatisfactory">Unsatisfactory<br><br><br>

    <h3>>Communication Skills  (in terms of articulation and comprehensibility)  			</h3><br>

    <input type="radio" checked="checked" name="communication" value="Verygood">Verygood
    <input type="radio" name="communication" value="Good">Good
    <input type="radio" name="communication" value="Satisfactory">Satisfactory
    <input type="radio" name="communication" value="Unsatisfactory">Unsatisfactory<br><br><br>


     <h3>>Sincerity / Commitment of the teacher			</h3><br>

    <input type="radio" checked="checked" name="Commitment" value="Verygood">Verygood
    <input type="radio" name="Commitment" value="Good">Good
    <input type="radio" name="Commitment" value="Satisfactory">Satisfactory
    <input type="radio" name="Commitment" value="Unsatisfactory">Unsatisfactory<br><br><br>

     <h3>>Interest generated by the teacher</h3><br>

    <input type="radio" checked="checked" name="interest" value="Verygood">Verygood
    <input type="radio" name="interest" value="Good">Good
    <input type="radio" name="interest" value="Satisfactory">Satisfactory
    <input type="radio" name="interest" value="Unsatisfactory">Unsatisfactory<br><br><br>


       <h3>>Ability to integrate course material with environment/other issues to provide a broader perspective </h3><br>

    <input type="radio" checked="checked" name="integratingskill" value="Verygood">Verygood
    <input type="radio" name="integratingskill" value="Good">Good
    <input type="radio" name="integratingskill" value="Satisfactory">Satisfactory
    <input type="radio" name="integratingskill" value="Unsatisfactory">Unsatisfactory<br><br><br>


                <h3>>Ability to integrate content with other courses</h3><br>

    <input type="radio" checked="checked" name="integratecontent" value="Verygood">Verygood
    <input type="radio" name="integratecontent" value="Good">Good
    <input type="radio" name="integratecontent" value="Satisfactory">Satisfactory
    <input type="radio" name="integratecontent" value="Unsatisfactory">Unsatisfactory<br><br><br>


      <h3>>Accessibility of the teacher in and out of the class (includes the availability of the teacher to motivate further study and discussion outside class)</h3><br>

    <input type="radio" checked="checked" name="accessibility" value="Verygood">Verygood
    <input type="radio" name="accessibility" value="Good">Good
    <input type="radio" name="accessibility" value="Satisfactory">Satisfactory
    <input type="radio" name="accessibility" value="Unsatisfactory">Unsatisfactory<br><br><br>


                        <h3>>Ability to design quizzes /Tests /assignments/examinations and projects to evaluate students understanding of the course</h3><br>

    <input type="radio" checked="checked" name="cordination" value="Verygood">Verygood
    <input type="radio" name="cordination" value="Good">Good
    <input type="radio" name="cordination" value="Satisfactory">Satisfactory
    <input type="radio" name="cordination" value="Unsatisfactory">Unsatisfactory<br><br><br>



                    <h3>>Provision of sufficient time for feedback</h3><br>

    <input type="radio" checked="checked" name="provision" value="Verygood">Verygood
    <input type="radio" name="provision" value="Good">Good
    <input type="radio" name="provision" value="Satisfactory">Satisfactory
    <input type="radio" name="provision" value="Unsatisfactory">Unsatisfactory<br><br><br>




                        <h3>>Overall rating</h3><br>

    <input type="radio" checked="checked" name="overall" value="Verygood">Verygood
    <input type="radio" name="overall" value="Good">Good
    <input type="radio" name="overall" value="Satisfactory">Satisfactory
    <input type="radio" name="overall" value="Unsatisfactory">Unsatisfactory<br><br><br>




    <button style="width:100%; background:#2C4D95; height:35px;">SUBMIT</button>

</form>
</body>
</html>