<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <meta charset="UTF-8">
    <title>home page</title>
</head>

<body>
<div class="home-page">
    <form action="{%url 's_cource_feedb'%}">
    <button>LEAVE FEEDBACK ABOUT COURCES</button><br><br>

    </form>
    <form action="{% url 's_faculty_feedb'%}">

        <button>LEAVE FEEDBACK ABOUT FACULTIES</button><br><br>
    </form>

    <form action="{% url 'stdactivity'%}">
        <button>VIEW YOUR ACTIVITIES</button>
    </form>

</div>
</body>
</html>